
/* Image */

.image {
	border: 0;
	display: inline-block;
	position: relative;
}
.image:after {
	transition: opacity 0.25s ease-in-out;
	background-image: url("images/overlay.png");
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0.2;
	position: absolute;
	top: 0;
	width: 100%;
}
.image img {
	display: block;
}
.image.fit {
	display: block;
}
.image.fit img {
	display: block;
	width: 100%;
}
.image.feature {
	display: block;
	margin: 0 0 2em 0;
}
.image.feature img {
	display: block;
	width: 100%;
}
.image.icon:before {
	transition: transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
	color: #fff;
	font-size: 6em;
	height: 1em;
	left: 50%;
	line-height: 1em;
	margin: -0.5em 0 0 -0.5em;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 1em;
	z-index: 1;
}
.image.icon:hover:after {
	opacity: 1;
}
span.image.icon {
	cursor: default;
}